.Frame{
  position: relative;
  border: 1px solid black;
  z-index: 2;
}

.Border{
  width:10%;
  position: relative;
  background-color: white;
  z-index: 3;
}

.Wrap{
  display:flex;
  flex-direction: row;
  justify-content: center;
}