.Frame{
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}

.Border{
  width:10%;
  position: relative;
  background-color: white;
  z-index: 3;
}

.Wrap{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}