.Button{
  font-size: 30px;
  cursor: pointer;
}
.BackButton{
  width: 30%;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  color: #ff3d4a;
  font-weight: bold;
  margin-left: auto;
}