.PickItem {
  width: 30%;
  height: 90%;
  border-radius: 20px;
  border: 3px solid white;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: border, background-color 0.3s;
  background-size: cover;
  margin-bottom: 10px;
  text-align: center;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover {
    background-color: rgba(255, 61, 74, 0.6);
  }

  &.Selected {
    background-color: rgba(255, 61, 74, 0.6);
  }

  .Preview {
    margin-top: 10px;
    width: 80%;
    height: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

}
