.LocationPickMenu{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  .PickWindow{
    width: 100%;
    height: 80%;
    //overflow-y: auto;
    padding: 0 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .LocationPickItem{
      border-radius: 20px;
      width: 45%;
      height: 90%;
      border: 3px solid white;
      background-color: rgba(255,255,255,0.6);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: border 0.3s;
      background-size: cover;

      &:hover{
        background-color: rgba(255,61,74,0.6);
        border: 3px solid rgba(255,61,74,1);
      }

      &.Selected{
        background-color: rgba(255,61,74,0.6);
        border: 3px solid rgba(255,61,74,1);
      }


      .Preview{
        margin-top: 10px;
        width: 80%;
        height: 70%;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  .NavigationBlock{
    width: 100%;
    height: 20%;
  }


}
